In [9]:
import json
import pandas as pd

with open('transmittors/akdeniz.geojson', encoding='utf-8') as f:
    data = json.load(f)

features = data['features']

df = pd.DataFrame(columns=['name', 'latitude', 'longitude'])

for feature in features:
    if feature['type'] == 'Feature':
        name = feature['properties']['name']
        latitude = feature['geometry']['coordinates'][1]
        longitude = feature['geometry']['coordinates'][0]
        df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)

print(df.head())

                                                name   latitude  longitude
0  19. Bölge Müdürlüğü Antalya Manavgat Trafo Mer...  36.804789  31.451132
1                                              trafo  37.059589  35.367568
2             TEİAŞ 154000 Volt Finike Trafo Merkezi  36.317828  30.144057
3                                              Trafo  36.570871  36.200045
4                                      Trafo Merkezi  36.926862  33.220175

C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)
C:\Users\MustafAi\AppData\Local\Temp\ipykernel_15020\3864757867.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'name': name, 'latitude': latitude, 'longitude': longitude}, ignore_index=True)

In [10]:
df.head(20)

                                                 name   latitude  longitude
0   19. Bölge Müdürlüğü Antalya Manavgat Trafo Mer...  36.804789  31.451132
1                                               trafo  37.059589  35.367568
2              TEİAŞ 154000 Volt Finike Trafo Merkezi  36.317828  30.144057
3                                               Trafo  36.570871  36.200045
4                                       Trafo Merkezi  36.926862  33.220175
5                                               Trafo  36.086803  35.983549
6                                               Trafo  36.095389  35.972789
7                                               Trafo  37.181947  36.618122
8                                               Trafo  37.186097  36.613156
9                                      Elektrik Trafo  36.762096  31.447387
10                                     Elektrik Trafo  36.792310  31.467228
11             TEİAŞ 154000 Volt Elmalı Trafo Merkezi  36.708891  29.926148
12                                      Trafo Merkezi  37.463065  37.019807
13                                              Trafo  36.559386  31.954042
14                                              trafo  36.231800  36.163574
15                                              trafo  36.233280  36.162208
16                       Adana Samandağ Trafo Merkezi  36.055707  36.014053
17                                   Elektrik trafosu  38.206263  37.157507
18                                     Elektrik Trafo  38.241718  36.909285
19                                    Trafo-Jenaratör  36.142143  36.130734

In [11]:
trans = df.drop("name",axis=1)

In [12]:
trans.head()

    latitude  longitude
0  36.804789  31.451132
1  37.059589  35.367568
2  36.317828  30.144057
3  36.570871  36.200045
4  36.926862  33.220175

In [16]:
import csv

# Metin dosyasını oku ve verileri bir liste olarak depola
with open('transmittors/kıbrıs.txt', 'r') as f:
    data = [line.strip().split('\t') for line in f.readlines()]

In [17]:
with open('t.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [18]:
data = pd.read_csv("t.csv")

In [19]:
data.head()

    Latitude  Longitude
0  35.336092  33.203678
1  35.311368  33.381782
2  35.183663  32.976084
3  35.360551  34.067425
4  35.346961  33.986395

In [20]:
trans.head()

    latitude  longitude
0  36.804789  31.451132
1  37.059589  35.367568
2  36.317828  30.144057
3  36.570871  36.200045
4  36.926862  33.220175

In [21]:
import pandas as pd

In [ ]:
pd.concat()